.trip-name-container {
  height: 400px;
}

.trip-name {
  margin: auto;
  width: 20%;
  border-radius: 5%;
  background-color: white;
  padding-bottom: 10px;
}

.btn-primary {
  background-image: linear-gradient(
    to right bottom,
    #2196f3,
    #2985e5,
    #3174d6,
    #3962c6,
    #3f51b5
  );
}
